<div class="cart-content">

  <header>
    <app-button class="close-button"
                (clicked)="closeCart()"
                label="X">
    </app-button>
  </header>

  <div class="products">
    <app-card
      class="item"
      *ngFor="let item of productsData"
      [showButtons]="showButtons"
      [product]="item"
      (removeFromCart)="removeFromCart(item)">
    </app-card>
  </div>

  <footer>
    <span class="cart-sum">сумма: {{ currentSum | currency: 'RUR' }}</span>
    <div class="buttons">
      <app-button (clicked)="clearCart()"
                  label="Очистить">
      </app-button>
      <app-button (clicked)="createOrder()"
                  label="Оформить">
      </app-button>
    </div>
  </footer>

</div>
