<div class="header">
  <app-cart [cart]="inCart" (click)="showCartContent()"></app-cart>
</div>

<h2>Catalog</h2>

<div class="catalog">
  <app-card
    class="item"
    *ngFor="let item of products"
    (addToCart)='addToCart(item)'
    [product]="item"
    [showButtons]="{add: true, remove: false}">
  </app-card>
</div>

<app-cart-content *ngIf="isShowCartContent"
                  (close)="showCartContent()"
                  >
</app-cart-content>

<app-toggle
  [toggles]="toggles"
  (toggleStatus)="pressedFilterButton($event)">
</app-toggle>

