<div class="header">
  <app-cart [cart]="inCart" (click)="showCartContent()"></app-cart>
</div>

<h2>Catalog</h2>

<div class="catalog">
  <app-card
    class="item"
    *ngFor="let item of products"
    [style.display]="isVisible(item)"
    [routerLink]="['/product', item['id']]"
    (addToCart)='addToCart($event, item)'
    [product]="item"
    [showButtons]="{add: true, remove: false}">
  </app-card>
</div>

<app-cart-content *ngIf="isShowCartContent"
                  (close)="showCartContent()"
                  [products]="inCart">
</app-cart-content>

<app-toggle
  [toogless]="toggles"
  (toogleStatus)="pressedFilterButton($event)">
</app-toggle>

