.catalog {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 10px;
}

.item {
  width: 25%;
  cursor: pointer;
}
